{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
          {% if filename %}
              <div>
                  <img class="boxed account-img" src="{{ url_for('display_image', filename=filename) }}">
              </div>
          {% endif %}
      </div>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.picture.label() }}
                {{ form.picture(class="form-control-file") }}
                <br>
                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>
            <br>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
  
{% endblock content %}
